<p>I’m a Web Designer and Web Developer from Freeburg, Illinois.
I have a passion for taking ideas and forming them into a visually beautiful design. Another passion I have is in
constructing efficient code. Creating websites from lines of polished code is a wonderful feeling, allowing others to
see the work you put into something graphically on the design side as well as development. I enjoy using my skills to
spread information in a dynamic and creative way. When I’m not designing or coding you can find me spending time with
the ones I love, or getting into some intense table top games like talisman or Dungeons & Dragons!</p>

